<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fenix CRM - Web Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
    <script src="../../resources/js/web-users.js" th:src="@{/resources/js/web-users.js}"></script>
    <style>
        .hiddenRow {
            padding: 0 !important;
            height: 0 !important;
        }
    </style>
</head>
<body class="webusers">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <!-- WEBUSERS main container -->
    <div class="container main-content-wrapper">

        <h1 class="center">Web Users <small>manager</small></h1>

        <form class="form-narrow form-horizontal" action="/webusers" method="get" th:action="@{/webusers}">
            <fieldset>
                <legend>Search</legend>

                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="email"
                               th:value="${email}"
                               placeholder="Email"
                               name="email"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerId" class="col-lg-2 control-label">Customer Id</label>
                    <div class="col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="customerId"
                               th:value="${customerId}"
                               placeholder="Customer Id"
                               name="customerId"/>
                    </div>
                </div>

                 <div class="form-group">
                    <label for="customerType" class="col-lg-2 control-label">Customer Type</label>
                    <div class="col-lg-10">
                        <select  class="form-control" name="customerType" id="customerType">
                            <option th:each="elem: ${T(es.upplication.entities.type.CustomerType).values()}"
                                    th:value="${elem.name()}"
                                    th:text="${elem.name()}"
                                    th:selected="${elem == customerType}"
                                    value="BAZ">
                                BAZ
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="childUppId" class="col-lg-2 control-label">ChildUpp ID</label>
                    <div class="col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="childUppId"
                               th:value="${childUppId}"
                               placeholder="ChildUpp Id"
                               name="childUppId"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       id="include-delete"
                                       name="deleted"
                                       th:checked="${deleted}"
                                       checked="false"/>
                                &nbsp;Include deleted?
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div th:if="${#lists.isEmpty(page.content)}" class="alert alert-warning">
            Results not found
        </div>

        <table th:unless="${#lists.isEmpty(page.content)}" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('registrationDate')?.ascending} ? 'registrationDate,desc' : 'registrationDate,asc'),size=${page.size},email=${email},customerId=${customerId},customerType=${customerType},deleted=${deleted})}">
                        Register
                    </a>
                </th>
                <th th:if="${deleted}">
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('deleteDate')?.ascending} ? 'deleteDate,desc' : 'deleteDate,asc'),size=${page.size},email=${email},customerId=${customerId},customerType=${customerType},deleted=${deleted})}">
                        Deleted
                    </a>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th th:if="${customerType != T(es.upplication.entities.type.CustomerType).UPPLICATION}">CustomerId</th>
                <th>Login Dashboard</th>
                <th>ChildUpp Info</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="result : ${page.content}">
                <tr>
                    <td th:text="${result.id}">1337</td>
                    <td th:text="${#calendars.format(result.registerDate,'dd/MM/yyyy')}">13/01/2011</td>
                    <td th:if="${deleted}" th:text="${result.deleteDate} ? ${#calendars.format(result.deleteDate,'dd/MM/yyyy')}">13/01/2011</td>
                    <td th:text="${result.name}">Name and Surname</td>
                    <td th:text="${result.email}">yeah@upplication.io</td>
                    <td th:text="${result.phone}">+34955764238</td>
                    <td th:if="${customerType != T(es.upplication.entities.type.CustomerType).UPPLICATION}" th:text="${result.customerId}">Customer Id</td>
                    <td> <a th:href="${result.loginUrl}" href="https://dashboard.upplication.io/v2/aplicateca/login?sessionId=xxxxx" class="btn btn-default">Entrar</a></td>
                    <td><a aria-expanded="false" data-th-href="'#info' + ${result.id}" data-toggle="collapse"
                           th:attr="data-target='#info' + ${result.id},arial-controls='info' + ${result.id}"
                           data-target="#info1337" aria-controls="info1337" class="collapsed accordion-toggle">+ Info</a>
                    </td>
                </tr>
                <tr>
                    <td th:colspan="(${customerType == T(es.upplication.entities.type.CustomerType).UPPLICATION} ? 8 : 9) + (${deleted} ? 1 : 0)" colspan="9" class="hiddenRow">
                        <div class="panel-collapse accordian-body collapse" th:attr="data-id=${result.id}" th:id="'info' + ${result.id}"
                             data-id="1337" id="info1337">
                            <div class="container">
                                <div class="row resume">
                                    <div class="col-md-12 childupp-request">
                                        <ul class="list-group">
                                            <li class="list-group-item active">
                                                ChildUpp Requests
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-md-1 id"><strong>#</strong></div>
                                                    <div class="col-md-3 created"><strong>Created</strong></div>
                                                    <div class="col-md-3 pricing-plan"><strong>Pricing plan</strong></div>
                                                    <div class="col-md-3 resolved"><strong>Resolved</strong></div>
                                                    <div class="col-md-2 type"><strong>Type</strong></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item elem example hidden">
                                                <div class="row">
                                                    <div class="col-md-1 id"></div>
                                                    <div class="col-md-3 created"></div>
                                                    <div class="col-md-3 pricing-plan"></div>
                                                    <div class="col-md-3 resolved"></div>
                                                    <div class="col-md-2 type"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item active">
                                                <span class="badge total"></span>
                                                <b>TOTAL</b>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 childupp-request-empty">
                                        <ul class="list-group">
                                            <li class="list-group-item active">
                                                ChildUpps Request without information
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 childupp">
                                        <ul class="list-group">
                                            <li class="list-group-item active">
                                                ChildUpps
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-md-2 id"><strong>#</strong></div>
                                                    <div class="col-md-2 created"><strong>Created</strong></div>
                                                    <div class="col-md-2 name"><strong>Name</strong></div>
                                                    <div class="col-md-2 pricing-plan"><strong>Pricing plan</strong></div>
                                                    <div class="col-md-2 deleted"><strong>Deleted</strong></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item elem example hidden">
                                                <div class="row">
                                                    <div class="col-md-2 id"></div>
                                                    <div class="col-md-2 created"></div>
                                                    <div class="col-md-2 name"></div>
                                                    <div class="col-md-2 pricing-plan"></div>
                                                    <div class="col-md-2 deleted"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 childupp-empty">
                                        <ul class="list-group">
                                            <li class="list-group-item active">
                                                ChildUpps without information
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <!-- Pagination Bar -->
        <nav class="center">
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}? 'disabled' : ''">
                    <span th:if="${page.firstPage}">← First</span>
                    <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size},email=${email},customerId=${customerId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}">← First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                    <span th:if="${not page.hasPreviousPage}">«</span>
                    <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-1},size=${page.size},email=${email},customerId=${customerId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}"
                       title="Go to previous page">«</a>
                </li>
                <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                    <span th:if="${item.current}" th:text="${item.number + 1}">1</span>
                    <a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number},size=${page.size},email=${email},customerId=${customerId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}">
                        <span th:text="${item.number + 1}">1</span>
                    </a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                    <span th:if="${not page.hasNextPage}">»</span>
                    <a th:if="${page.hasNextPage}"
                       th:href="@{${page.url}(page.page=${page.number+1},page.size=${page.size},email=${email},customerId=${customerId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}"
                       title="Go to next page">»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <span th:if="${page.lastPage}">Last →</span>
                    <a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages},size=${page.size},email=${email},customerId=${customerId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}">Last
                        →</a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- /. "webusers" main container -->

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
        &#169; 2019 Upplication
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>