<!DOCTYPE html>
<html>
<head>
    <title>Fenix CRM - Sales</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
</head>
<body class="sales">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <!-- SALES main container -->
    <div class="container main-content-wrapper">

        <h1 class="center">Sales <small>manager</small></h1>

        <form class="form-narrow form-horizontal" action="/sales" method="get" th:action="@{/sales}">
            <fieldset>
                <legend>Search</legend>

                <div class="form-group">
                    <label for="inputStart" class="col-lg-2 control-label">Start</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" id="inputStart" placeholder="Start date" name="start" th:value="${start} ? ${#calendars.format(start,'yyyy-MM-dd')}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEnd" class="col-lg-2 control-label">End</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" id="inputEnd" placeholder="End date" name="end" th:value="${end} ? ${#calendars.format(end,'yyyy-MM-dd')}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="childupp" class="col-lg-2 control-label">ChildUpp id</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="childupp" placeholder="Search only payments with the childupp id" name="childUppId" th:value="${childUppId}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info btn-block">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div th:if="${#lists.isEmpty(page.content)}" class="alert alert-warning">
            Results not found
        </div>

        <table th:unless="${#lists.isEmpty(page.content)}" class="table table-bordered table-hover">

            <div class="btn-toolbar margin-bottom-1em" role="toolbar">
                <form action="/sales/export.csv" method="post" th:action="@{/sales/export.csv}">
                    <input type="hidden" name="start" value="10/10/201"
                           th:value="${start} ? ${#calendars.format(start,'yyyy-MM-dd')}"/>
                    <input type="hidden" name="end" value="10/10/201" th:value="${end} ? ${#calendars.format(end,'yyyy-MM-dd')}"/>
                    <button type="submit" class="btn btn-success">Export CSV</button>
                </form>
            </div>

            <thead>
            <tr>
                <th>
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('billingDate')?.ascending} ? 'billingDate,desc' : 'billingDate,asc'),start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}">
                        Start
                    </a>
                </th>
                <th>End</th>
                <th>
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('date')?.ascending} ? 'date,desc' : 'date,asc'),start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}">
                        Payment
                    </a>
                </th>
                <th>
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('feature.childUpp.id')?.ascending} ? 'feature.childUpp.id,desc' : 'feature.childUpp.id,asc'),start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}">
                        ChildUpp id
                    </a>
                </th>
                <th>ChildUpp Name</th>
                <th>User</th>
                <th>Amount</th>
                <th>
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('billNumber')?.ascending} ? 'billNumber,desc' : 'billNumber,asc'),start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}">
                        Bill Number
                    </a>
                </th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${page.content}">
                <td th:text="${result.start} ? ${#calendars.format(result.start,'dd/MM/yyyy')}">13/01/2011</td>
                <td th:text="${result.end} ? ${#calendars.format(result.end,'dd/MM/yyyy')}">13/01/2011</td>
                <td th:text="${result.day} ? ${#calendars.format(result.day,'dd/MM/yyyy')}">13/01/2011</td>
                <td th:text="${result.childUppId}">123</td>
                <td th:text="${result.childUppName}">tienda de tenis</td>
                <td th:text="${result.userName}">Juan</td>
                <td th:text="${result.amount + '€'}">10€</td>
                <td>
                    <span th:text="${result.billNumber}">A07272016</span>
                    <a th:href="${result.billUrlOds}" target="_blank" title="Download bill ODS">ODS</a> |
                    <a th:href="${result.billUrlPdf}" target="_blank" title="Download bill PDF">PDF</a></td>
                <td th:text="${result.type}">SAGE</td>
            </tr>
            </tbody>
        </table>

        <!-- Pagination Bar -->
        <nav th:unless="${#lists.isEmpty(page.content)}" class="center">
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}? 'disabled' : ''">
                    <span th:if="${page.firstPage}">← First</span>
                    <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size},start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}+${page.getCurrentSort()}">← First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                    <span th:if="${not page.hasPreviousPage}">«</span>
                    <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-1},size=${page.size},start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}+${page.getCurrentSort()}"
                       title="Go to previous page">«</a>
                </li>
                <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                    <span th:if="${item.current}" th:text="${item.number + 1}">1</span>
                    <a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number},size=${page.size},start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}+${page.getCurrentSort()}">
                        <span th:text="${item.number + 1}">1</span>
                    </a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                    <span th:if="${not page.hasNextPage}">»</span>
                    <a th:if="${page.hasNextPage}"
                       th:href="@{${page.url}(page.page=${page.number+1},page.size=${page.size},start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}+${page.getCurrentSort()}"
                       title="Go to next page">»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <span th:if="${page.lastPage}">Last →</span>
                    <a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages},size=${page.size},start=${start} ? ${#calendars.format(start,'yyyy-MM-dd')},end=${end} ? ${#calendars.format(end,'yyyy-MM-dd')},childUppId=${childUppId})}+${page.getCurrentSort()}">Last
                        →</a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- /. "sales" main container -->

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>