<!DOCTYPE html>
<html>
<head>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:fragment="footer">
        <div class="container">
            <span>&#169; 2020 Upplication</span>
            <span class="dot"> . </span>
            <span> Fénix customer manager.</span>
            <span> Diseñado y desarrollado en Madrid.</span>
        </div>
    </footer>
    <!-- /. (main Corporative) Footer -->

</body>
</html>

