<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link href="../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
</head>
<body>

<!-- (main Corporative) Header -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/;
        /*]]>*/
    </script>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="/admin/login" th:href="@{/admin/login}">Admin Login</a></li>
                <li><a href="/sales" th:href="@{/sales}">Sales</a></li>
                <li><a href="/childupps" th:href="@{/childupps}">ChildUpps</a></li>
                <li><a href="/webusers" th:href="@{/webusers}">Web Users</a></li>
                <li><a href="/market/requests" th:href="@{/market/requests}">Market Requests</a></li>
                <li><a href="/defaulters" th:href="@{/defaulters}">Defaulters</a></li>
                <li><a href="/stats" th:href="@{/stats}">Stats</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="!isAuthenticated()">
                    <a href="/signin" th:href="@{/signin}">Sign in</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">Logout</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /. (main Corporative) Header -->

</body>
</html>