<!DOCTYPE html>
<html>
<head>
    <title>Fenix CRM - Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../static/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../../../static/vendor/js/bootstrap.min.js" th:src="@{/static/vendor/js/bootstrap.min.js}"></script>
</head>
<body class="home">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <!-- HOME main container -->
    <div class="container main-content-wrapper">

        <h1 class="center">Welcome our CRM <small>Content Repository Management System !</small></h1>

        <div class="logo-container">
            <div class="upp-fenix-logo"></div>
            <div class="upp-rocket-with-rider"></div>
        </div>
    </div>
    <!-- /. "Home" main container -->

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>