<!DOCTYPE html>
<html>
<head>
    <title>Fenix CRM - Defaulters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
</head>
<body class="defaulters">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <!-- DEFAULTERS main container -->
    <div class="container main-content-wrapper">
        <div th:if="${#lists.isEmpty(results)}" class="alert alert-warning">
            Results not found
        </div>

        <table th:unless="${#lists.isEmpty(results)}" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Creator Name</th>
                <th>Email</th>
                <th>ChildUpp ID</th>
                <th>ChildUpp</th>
                <th>Status</th>
                <th>Type</th>
                <th>Debt date</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${results}">
                <td th:text="${result.creator}">John Doe</td>
                <td th:text="${result.email}">mail@example.com</td>
                <td th:text="${result.childUppId}">10</td>
                <td th:text="${result.childUppName}">Name</td>
                <td th:text="${result.status}">Pending</td>
                <td th:text="${result.type}">SAGE</td>
                <td th:text="${#calendars.format(result.date,'dd/MM/yyyy')}">13/01/2012</td>
                <td th:text="${result.quantity} > 0 ? ${result.quantity + '€'}">100€</td>
            </tr>
            </tbody>
        </table>

        <div th:replace="fragments/footer :: footer">&copy; 2015 Upplication</div>
    </div>
    <!-- /. "defaulters" main container -->

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>