<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fenix CRM - ChildUpps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
</head>
<body class="childupps">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <!-- CHILUPPS main container -->
    <div class="container main-content-wrapper">

        <h1 class="center">ChildUpps <small>manager</small></h1>

        <form class="form-narrow form-horizontal" action="/childupps" method="get" th:action="@{/childupps}">
            <fieldset>
                <legend>Search</legend>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="name"
                               th:value="${appName}"
                               placeholder="Childupp name"
                               name="appName"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="appId" class="col-lg-2 control-label">ID</label>
                    <div class="col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="appId"
                               th:value="${appId}"
                               placeholder="ChildUpp id"
                               name="appId"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerType" class="col-lg-2 control-label">Customer Type</label>
                    <div class="col-lg-10">
                        <select  class="form-control" name="customerType" id="customerType">
                            <option th:each="elem: ${T(es.upplication.entities.type.CustomerType).values()}"
                                    th:value="${elem.name()}"
                                    th:text="${elem.name()}"
                                    th:selected="${elem == customerType}"
                                    value="BAZ">BAZ</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       id="include-delete"
                                       name="deleted"
                                       th:checked="${deleted}"
                                       checked="false"/>
                                &nbsp;Include deleted?
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div th:if="${#lists.isEmpty(page.content)}" class="alert alert-warning">
            Results not found
        </div>

        <table th:unless="${#lists.isEmpty(page.content)}" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('creationDate')?.ascending} ? 'creationDate,desc' : 'creationDate,asc'),size=${page.size},appName=${appName},appId=${appId},customerType=${customerType},deleted=${deleted})}">
                        Creation Date
                    </a>
                </th>
                <th>Name</th>
                <th>Pricing</th>
                <th>Status</th>
                <th>Promotion</th>
                <th th:if="${deleted}">
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('deleteDate')?.ascending} ? 'deleteDate,desc' : 'deleteDate,asc'),size=${page.size},appName=${appName},appId=${appId},customerType=${customerType},deleted=${deleted})}">
                        Deleted
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${page.content}">
                <td th:text="${result.id}"></td>
                <td th:text="${result.creationDate}">13/12/2016</td>
                <td th:text="${result.name}">Name</td>
                <td th:text="${result.pricing}">Pricing</td>
                <td th:text="${result.status}">Status</td>
                <td>
                    <span th:unless="${result.hasPromotion}">No promotion</span>
                    <span th:if="${result.hasPromotion}" th:text="${result.promoCode}"></span>
                    <span th:if="${result.hasPromotion}" th:text="' (' + ${result.discount} + ' %)'"></span>
                    <button type="button" class="btn btn-link" data-toggle="modal"
                            data-target="#modal-change-promotion"
                            th:attr="data-childupp-id=${result.id},data-childupp-name=${result.name}">[ Change ]
                    </button>
                </td>
                <td th:if="${deleted}" th:text="${result.deleteDate}">13/13/2016</td>
            </tr>
            </tbody>
        </table>

        <!-- Pagination Bar -->
        <nav class="center">
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}? 'disabled' : ''">
                    <span th:if="${page.firstPage}">← First</span>
                    <a th:if="${not page.firstPage}"
                       th:href="@{${page.url}(page=0,size=${page.size},appName=${appName},appId=${appId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}">← First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                    <span th:if="${not page.hasPreviousPage}">«</span>
                    <a th:if="${page.hasPreviousPage}"
                       th:href="@{${page.url}(page=${page.number-1},size=${page.size},appName=${appName},appId=${appId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}"
                       title="Go to previous page">«</a>
                </li>
                <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                    <span th:if="${item.current}" th:text="${item.number + 1}">1</span>
                    <a th:if="${not item.current}"
                       th:href="@{${page.url}(page=${item.number},size=${page.size},appName=${appName},appId=${appId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}">
                        <span th:text="${item.number + 1}">1</span>
                    </a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                    <span th:if="${not page.hasNextPage}">»</span>
                    <a th:if="${page.hasNextPage}"
                       th:href="@{${page.url}(page.page=${page.number+1},page.size=${page.size},appName=${appName},appId=${appId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}"
                       title="Go to next page">»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <span th:if="${page.lastPage}">Last →</span>
                    <a th:if="${not page.lastPage}"
                       th:href="@{${page.url}(page=${page.totalPages},size=${page.size},appName=${appName},appId=${appId},customerType=${customerType},deleted=${deleted})}+${page.getCurrentSort()}">Last
                        →</a>
                </li>
            </ul>
        </nav>

        <div class="modal fade" id="modal-change-promotion">
            <form method="POST" th:action="${changePromotionEndpoint}" action="billing/change-foo">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Change promotion</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger display-none" role="alert">
                                The promotion code is not valid or it can not be applied to the current plan.
                            </div>

                            <div class="alert alert-success display-none" role="alert">
                                Promotion changed successfully.
                            </div>

                            <input type="hidden" name="appId" id="childupp-id" />

                            <div class="form-group">
                                <label for="promotion-code">Promotion code</label>
                                <input type="text" class="form-control" id="promotion-code"
                                       placeholder="Promotion code..." name="promotionCode" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <script src="../../resources/js/childupps.js" th:src="@{/resources/js/childupps.js}"></script>

    </div>
    <!-- /. "childupps" main container -->

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>